src/copiador
src/copiador.exe
src/bench
src/bench.exe
*.o
*.obj
__pycache__/
*.pyc
relatorio/*.aux
relatorio/*.log
relatorio/*.out
relatorio/*.toc
relatorio/*.fls
relatorio/*.fdb_latexmk
.DS_Store
Thumbs.db
